In [16]:
fileName = 'Text_Practice.txt'
file = open(fileName, mode = 'rt')
file.read()

'Hi, I am Somshubhra Giri from West Bengal, Kolkata.'

In [17]:
file.read()

''

In [10]:
file.closed

False

In [19]:
file.close()
file.closed

True

In [18]:
file.read()

''

In [20]:
with open(fileName, mode = 'r') as out_file:
    text = out_file.read()
print(text)

Hi, I am Somshubhra Giri from West Bengal, Kolkata.

In [21]:
with open(fileName, mode = 'w') as out_file:
    out_file.write('I completed my graduation from MCKV Institute of Engineering.')

In [22]:
fileName = 'Text_Practice.txt'
file = open(fileName, mode = 'rt')
file.read()

'I completed my graduation from MCKV Institute of Engineering.'

In [23]:
csvFileName = 'Glid_Check.csv'
file_csv = open(csvFileName)
file_csv.read()

'Item Number,Glid,batch_builder_type,Submitted Date,Glid Type\n62003980 DL7 WHT,CB179742,IPPS,1/27/2021 6:14,Parent Glid\n62550266,PH65213,IPPS,5/23/2024 3:55,Parent Glid\n62711521,CB290152,IPPS,8/28/2023 1:04,Parent Glid\n62711521,CB290152,SB,6/29/2021 11:51,Parent Glid\n62711521,CB573633A,IPPS,8/28/2023 1:04,Additional Glid\n62711521,CB573633A,SB,6/29/2021 11:51,Additional Glid\n62711521,CB573634A,IPPS,8/28/2023 1:04,Additional Glid\n62711521,CB573634A,SB,6/29/2021 11:51,Additional Glid\n62754251 WHT,CB430628A,IPPS,3/27/2024 7:04,Parent Glid\n62754251 WHT,CB430628A,SB,10/25/2021 8:52,Parent Glid\n62754732,CB408832,IPPS,10/16/2023 3:21,Parent Glid\n62754732,CB408832,SB,8/16/2022 10:11,Parent Glid\n62754732,CB414320,IPPS,10/16/2023 3:21,Additional Glid\n62754732,CB414320,SB,8/16/2022 10:11,Additional Glid\n62754732,CB414321,IPPS,10/16/2023 3:21,Additional Glid\n62754732,CB414321,SB,8/16/2022 10:11,Additional Glid\n62754732,CB414322,IPPS,10/16/2023 3:21,Additional Glid\n62754732,CB414322,SB,8/16/2022 10:11,Additional Glid\n62754732,CB414325,IPPS,10/16/2023 3:21,Additional Glid\n62754732,CB414325,SB,8/16/2022 10:11,Additional Glid\n62754732,CB414326,IPPS,10/16/2023 3:21,Additional Glid\n62754732,CB414326,SB,8/16/2022 10:11,Additional Glid\n62754732,CB414327,IPPS,10/16/2023 3:21,Additional Glid\n62754732,CB414327,SB,8/16/2022 10:11,Additional Glid\n62754732,CB414328,IPPS,10/16/2023 3:21,Additional Glid\n62754732,CB414328,SB,8/16/2022 10:11,Additional Glid\n62754732,CB414330,IPPS,10/16/2023 3:21,Additional Glid\n62754732,CB414330,SB,8/16/2022 10:11,Additional Glid\n62754733,CB408954,IPPS,1/25/2023 15:15,Parent Glid\n62754733,CB408954,SB,8/16/2022 10:18,Parent Glid\n62754736,CB412143A,IPPS,8/16/2022 11:15,Parent Glid\n62754736,CB412143A,SB,8/16/2022 10:19,Parent Glid\n62754736,CB467325A,IPPS,8/16/2022 11:15,Additional Glid\n62754736,CB467325A,SB,8/16/2022 10:19,Additional Glid\n62754743,CB408952,IPPS,6/27/2023 4:26,Parent Glid\n62754743,CB408952,SB,3/4/2021 10:57,Parent Glid\n62754743,CB414332,IPPS,6/27/2023 4:26,Additional Glid\n62754743,CB414332,SB,3/4/2021 10:57,Additional Glid\n62754743,CB414336,IPPS,6/27/2023 4:26,Additional Glid\n62754743,CB414336,SB,3/4/2021 10:57,Additional Glid\n62754755,CB411963,IPPS,6/26/2023 2:06,Parent Glid\n62754755,CB411963,SB,6/29/2021 11:51,Parent Glid\n62754755,CB416081,IPPS,6/26/2023 2:06,Additional Glid\n62754755,CB416081,SB,6/29/2021 11:51,Additional Glid\n62754755,CB424246,IPPS,6/26/2023 2:06,Additional Glid\n62754755,CB424246,SB,6/29/2021 11:51,Additional Glid\n62754758,CB408834,SB,4/13/2020 11:10,Parent Glid\n62754771,CB408941,IPPS,6/30/2023 5:00,Additional Glid\n62754771,CB408942,IPPS,6/30/2023 5:00,Additional Glid\n62754771,CB408953,IPPS,6/30/2023 5:00,Parent Glid\n62754782,CB408938,IPPS,8/16/2022 11:23,Parent Glid\n62754782,CB408938,SB,8/16/2022 10:20,Parent Glid\n62755280,CB437036,SB,4/13/2020 11:04,Parent Glid\n62758767 WHT,CB430631A,IPPS,4/23/2024 11:23,Parent Glid\n62758767 WHT,CB430631A,SB,3/4/2021 11:16,Parent Glid\n62758935,CB438253,SB,8/16/2022 10:21,Parent Glid\n62758935,CB438258,SB,8/16/2022 10:21,Additional Glid\n62758935,CB438260,SB,8/16/2022 10:21,Additional Glid\n62759440,CB442162A,IPPS,6/27/2023 5:01,Parent Glid\n62759440,CB442162A,SB,6/15/2022 12:56,Parent Glid\n62759440,CB500047A,IPPS,6/27/2023 5:01,Additional Glid\n62759440,CB500047A,SB,6/15/2022 12:56,Additional Glid\n62759440,CB500051A,IPPS,6/27/2023 5:01,Additional Glid\n62759440,CB500051A,SB,6/15/2022 12:56,Additional Glid\n62760474,CB461123A,IPPS,6/26/2023 22:49,Parent Glid\n62760474,CB522872A,IPPS,6/26/2023 22:49,Additional Glid\n62760474,CB522874A,IPPS,6/26/2023 22:49,Additional Glid\n62762051,CB470974A,IPPS,6/27/2023 4:17,Parent Glid\n62762051,CB470974A,SB,6/29/2021 11:50,Parent Glid\n62762051,CB482345A,IPPS,6/27/2023 4:17,Additional Glid\n62762051,CB482345A,SB,6/29/2021 11:50,Additional Glid\n62762051,CB482350A,IPPS,6/27/2023 4:17,Additional Glid\n62762051,CB482350A,SB,6/29/2021 11:50,Additional Glid\n62763869,CB492758A,IPPS,2/24/2022 1:00,Parent Glid\n62763869,CB492758A,SB,1/27/2021 6:30,Parent Glid\n62763869,CB501252A,IPPS,2/24/2022 1:00,Additional Glid\n62763869,CB501252A,SB,1/27/2021 6:30,Additional Glid\n62763869,CB501255A,IPPS,2/24/2022 1:00,Additional Glid\n62763869,CB501255A,SB,1/27/2021 6:30,Additional Glid\n62763872,CB492788A,IPPS,12/15/2021 3:05,Parent Glid\n62763872,CB492788A,SB,6/29/2021 11:51,Parent Glid\n62763872,CB501800A,IPPS,12/15/2021 3:05,Additional Glid\n62763872,CB501800A,SB,6/29/2021 11:51,Additional Glid\n62763872,CB501937A,IPPS,12/15/2021 3:05,Additional Glid\n62763872,CB501937A,SB,6/29/2021 11:51,Additional Glid\n62765063 CN WHT,CB502217,IPPS,10/16/2023 1:53,Parent Glid\n62765063 CN WHT_RS,CB702108A,IPPS,10/16/2023 1:33,Parent Glid\n62767254 WHT,CB533064A,IPPS,6/26/2023 0:17,Parent Glid\n62773607 WHT,CB619388A,SB,3/20/2024 12:25,Parent Glid\n62782476 WHT,CB727170A,IPPS,5/23/2024 4:46,Parent Glid\n62782476 WHT,CB727170A,SB,4/23/2024 12:36,Parent Glid\n62782477,CB727181A,IPPS,5/23/2024 23:43,Parent Glid\n62782477,CB727181A,SB,4/23/2024 12:39,Parent Glid\n62782511 WHT ONE ASIA,CB726881A,IPPS,4/24/2024 23:35,Parent Glid\n62782511 WHT ONE ASIA,CB726881A,SB,4/23/2024 12:58,Parent Glid\n62782512,CB726884A,IPPS,4/24/2024 23:37,Parent Glid\n62782512,CB726884A,SB,5/10/2024 4:40,Parent Glid\n'

In [22]:
import pandas as pd
csvFileName = 'Glid_Check.csv'
df_csv = pd.read_csv(csvFileName)
df_csv

,Item Number,Glid,batch_builder_type,Submitted Date,Glid Type
0,62003980 DL7 WHT,CB179742,IPPS,1/27/2021 6:14,Parent Glid
1,62550266,PH65213,IPPS,5/23/2024 3:55,Parent Glid
2,62711521,CB290152,IPPS,8/28/2023 1:04,Parent Glid
3,62711521,CB290152,SB,6/29/2021 11:51,Parent Glid
4,62711521,CB573633A,IPPS,8/28/2023 1:04,Additional Glid
...,...,...,...,...,...
92,62782477,CB727181A,SB,4/23/2024 12:39,Parent Glid
93,62782511 WHT ONE ASIA,CB726881A,IPPS,4/24/2024 23:35,Parent Glid
94,62782511 WHT ONE ASIA,CB726881A,SB,4/23/2024 12:58,Parent Glid
95,62782512,CB726884A,IPPS,4/24/2024 23:37,Parent Glid
96,62782512,CB726884A,SB,5/10/2024 4:40,Parent Glid

In [25]:
import pandas as pd
csvFileName = 'Glid_Check.csv'
df_csv = pd.read_csv(csvFileName, 
                     skiprows= [0, 2, 4, 6 ])
df_csv

         62003980 DL7 WHT   CB179742  IPPS   1/27/2021 6:14      Parent Glid
0                62711521   CB290152  IPPS   8/28/2023 1:04      Parent Glid
1                62711521  CB573633A  IPPS   8/28/2023 1:04  Additional Glid
2                62711521  CB573634A  IPPS   8/28/2023 1:04  Additional Glid
3                62711521  CB573634A    SB  6/29/2021 11:51  Additional Glid
4            62754251 WHT  CB430628A  IPPS   3/27/2024 7:04      Parent Glid
..                    ...        ...   ...              ...              ...
88               62782477  CB727181A    SB  4/23/2024 12:39      Parent Glid
89  62782511 WHT ONE ASIA  CB726881A  IPPS  4/24/2024 23:35      Parent Glid
90  62782511 WHT ONE ASIA  CB726881A    SB  4/23/2024 12:58      Parent Glid
91               62782512  CB726884A  IPPS  4/24/2024 23:37      Parent Glid
92               62782512  CB726884A    SB   5/10/2024 4:40      Parent Glid

[93 rows x 5 columns]

In [28]:
print(type(pd.read_csv(csvFileName)))

<class 'pandas.core.frame.DataFrame'>

In [29]:
print(pd.read_csv(csvFileName).shape)

(97, 5)

In [14]:
import pandas as pd
import numpy as np
txt_File_Name = 'Size_Map.txt'
txt_File_Data = np.loadtxt(txt_File_Name, 
                           delimiter = ',',
                          dtype = np.str)
txt_File_Data

/tmp/ipykernel_227/3897045221.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.str)

array([['A102', ' 3045', ' XXL', ' 778', ' $79'],
       ['A103', ' 3047', ' S', ' 777', ' $76'],
       ['A104', ' 3048', ' XX', ' 776', ' $82'],
       ['A105', ' 3042', ' M', ' 772', ' $92'],
       ['A106', ' 3037', ' XL', ' 771', ' $93'],
       ['A107', ' 3038', ' XXS', ' 775', ' $99'],
       ['A108', ' 3045', ' XXL', ' 778', ' $79'],
       ['A109', ' 3047', ' S', ' 755', ' $76'],
       ['A110', ' 3048', ' XX', ' 752', ' $82'],
       ['A111', ' 3042', ' M', ' 746', ' $92'],
       ['A112', ' 3037', ' XL', ' 745', ' $93'],
       ['A113', ' 3038', ' XXS', ' 743', ' $99']], dtype='<U5')

In [16]:
import pandas as pd
import numpy as np
txt_File_Name_1 = 'Size_Map.txt'
txt_File_Data_1 = np.genfromtxt(txt_File_Name, 
                                delimiter = ',',
                                dtype = np.str
                               )
txt_File_Data_1

/tmp/ipykernel_227/632726048.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.str

array([['A102', ' 3045', ' XXL', ' 778', ' $79'],
       ['A103', ' 3047', ' S', ' 777', ' $76'],
       ['A104', ' 3048', ' XX', ' 776', ' $82'],
       ['A105', ' 3042', ' M', ' 772', ' $92'],
       ['A106', ' 3037', ' XL', ' 771', ' $93'],
       ['A107', ' 3038', ' XXS', ' 775', ' $99'],
       ['A108', ' 3045', ' XXL', ' 778', ' $79'],
       ['A109', ' 3047', ' S', ' 755', ' $76'],
       ['A110', ' 3048', ' XX', ' 752', ' $82'],
       ['A111', ' 3042', ' M', ' 746', ' $92'],
       ['A112', ' 3037', ' XL', ' 745', ' $93'],
       ['A113', ' 3038', ' XXS', ' 743', ' $99']], dtype='<U5')

In [18]:
import pandas as pd
import numpy as np
txt_File_Name_1 = 'Size_Map.txt'
txt_File_Data_1 = np.genfromtxt(txt_File_Name, 
                                delimiter = ',',
                                dtype = np.str,
                                skip_header = 2,
                                skip_footer = 2,
                                usecols = (0,2,4)
                               )
txt_File_Data_1

/tmp/ipykernel_227/1077544286.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.str,

array([['A104', ' XX', ' $82'],
       ['A105', ' M', ' $92'],
       ['A106', ' XL', ' $93'],
       ['A107', ' XXS', ' $99'],
       ['A108', ' XXL', ' $79'],
       ['A109', ' S', ' $76'],
       ['A110', ' XX', ' $82'],
       ['A111', ' M', ' $92']], dtype='<U4')

In [27]:
import pandas as pd
import numpy as np
txt_File_Name = 'Size_Map.txt'
txt_File_Data_3, txt_File_Data_4, txt_File_Data_5  = np.loadtxt(txt_File_Name, 
                           delimiter = ',',
                          dtype = np.str,
                          usecols = (0,2,4),
                          skiprows= 2,
                          unpack = True)
print(txt_File_Data_3)
print(txt_File_Data_4)
print(txt_File_Data_5)

['A104' 'A105' 'A106' 'A107' 'A108' 'A109' 'A110' 'A111' 'A112' 'A113']
[' XX' ' M' ' XL' ' XXS' ' XXL' ' S' ' XX' ' M' ' XL' ' XXS']
[' $82' ' $92' ' $93' ' $99' ' $79' ' $76' ' $82' ' $92' ' $93' ' $99']

/tmp/ipykernel_227/1566153458.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype = np.str,

In [12]:
json_data = '{"Customer 1":"Somshubhra Giri","Customer 2": "Subhojit Patra"}'
json_data

'{"Customer 1":"Somshubhra Giri","Customer 2": "Subhojit Patra"}'

In [13]:
type(json_data)

str

In [14]:
import json
js_load_data = json.loads(json_data)
js_load_data

{'Customer 1': 'Somshubhra Giri', 'Customer 2': 'Subhojit Patra'}

In [15]:
type(js_load_data)

dict

In [3]:
import pandas as pd
Json_FileName = 'Lending-company.json'
company_Data = pd.read_json(Json_FileName)
company_Data

,Loan ID,String_ID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDays,AmountPaid30,AmountPaid60,AmountPaid360,LoanStatus360
0,1,id_1,Product B,Male,Location 2,Region 2,16600,7/4/2014,2000,40,365,3121,4241,13621,Active
1,2,id_2,Product B,Male,Location 3,Region 3,16600,1/2/2015,2000,40,365,3061,4171,15041,Active
2,3,id_3,Product C,Female,Location 5,Region 5,15600,12/8/2012,1000,40,365,2160,3280,15340,None
3,4,id_4,Product B,Male,Location 6,Region 1,16600,2/20/2015,2000,40,365,3041,4241,15321,Active
4,5,id_5,Product D,Female,Location 7,Region 2,20250,10/28/2013,2000,50,365,3470,4820,13720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,id_1039,Product B,Female,Location 39,Region 6,16600,12/29/2014,2000,40,365,3401,4601,16600,Finished Payment
1039,1040,id_1040,Product B,Male,Location 50,Region 1,16600,3/28/2014,2000,40,365,4240,5440,16600,Finished Payment
1040,1041,id_1041,Product B,Male,Location 23,Region 4,16600,4/26/2014,2000,40,365,4201,5001,16600,Finished Payment
1041,1042,id_1042,Product C,NotSpecified,Location 52,Region 6,15600,10/25/2012,1000,40,365,2080,3320,15600,Finished Payment
1042,1043,id_1043,Product B,Female,Location 142,Region 6,16600,5/15/2015,2000,40,365,4601,4601,16600,Finished Payment

In [8]:
company_Data.to_csv('Lending-company-csv.csv',index= False)

In [9]:
company_Data.to_excel('Lending-company-csv.xlsx',index= False)

In [5]:
import pandas as pd
Json_FileName = 'Lending-company.xlsx'
company_Data = pd.read_excel(Json_FileName, index_col= 'LoanID', usecols= (0, 1, 2))
company_Data

           StringID    Product
LoanID
1          LoanID_1  Product B
2          LoanID_2  Product D
3          LoanID_3  Product B
4          LoanID_4  Product A
5          LoanID_5  Product B
...             ...        ...
1039    LoanID_1039  Product B
1040    LoanID_1040  Product A
1041    LoanID_1041  Product A
1042    LoanID_1042  Product B
1043    LoanID_1043  Product A

[1043 rows x 2 columns]

In [21]:
import pandas as pd
Csv_Single_Comma_FileName = 'Size_csv.csv'
pd.read_csv(Csv_Single_Comma_FileName, sep = '\,', engine='python')

   ASC_ID   TAG SIZE  COUNTRY_CODE PRICE
0    A102  3045  XXL           778   $79
1    A103  3047    S           777   $76
2    A104  3048   XX           776   $82
3    A105  3042    M           772   $92
4    A106  3037   XL           771   $93
5    A107  3038  XXS           775   $99
6    A108  3045  XXL           778   $79
7    A109  3047    S           755   $76
8    A110  3048   XX           752   $82
9    A111  3042    M           746   $92
10   A112  3037   XL           745   $93
11   A113  3038  XXS           743   $99

In [24]:
import pandas as pd
File_Name_Customer_csv = 'Customer-Gender.csv'
df_Customer = pd.read_csv(File_Name_Customer_csv)
df_Customer

     CustomerGender
0            Female
1            Female
2              Male
3              Male
4            Female
...             ...
1038           Male
1039           Male
1040   NotSpecified
1041         Female
1042   NotSpecified

[1043 rows x 1 columns]

In [25]:
type(df_Customer)

pandas.core.frame.DataFrame

In [29]:
import pandas as pd
File_Name_Customer_csv_1 = 'Customer-Gender.csv'
df_Customer_1 = pd.read_csv(File_Name_Customer_csv)
Sr_Customer_1 = df_Customer_1.squeeze('columns')
Sr_Customer_1

0             Female
1             Female
2               Male
3               Male
4             Female
            ...
1038            Male
1039            Male
1040    NotSpecified
1041          Female
1042    NotSpecified
Name: CustomerGender, Length: 1043, dtype: object

In [38]:
import pandas as pd
csvFileName = 'Glid_Check.csv'
df_csv = pd.read_csv(csvFileName, usecols= ['Glid'])
Sr_csv = df_csv.squeeze('columns')
Sr_csv

0      CB179742
1       PH65213
2      CB290152
3      CB290152
4     CB573633A
        ...
92    CB727181A
93    CB726881A
94    CB726881A
95    CB726884A
96    CB726884A
Name: Glid, Length: 97, dtype: object

In [40]:
print("Type of Data Frame: " + str(type(df_csv)))
print("Type of  Series: " + str(type(Sr_csv)))

Type of Data Frame: <class 'pandas.core.frame.DataFrame'>
Type of  Series: <class 'pandas.core.series.Series'>

In [10]:
import pandas as pd
import numpy as np
FileName_06_14 = 'Lending-Company-Saving.csv'
company_details = np.genfromtxt(FileName_06_14,
             delimiter= ',',
             dtype=np.str)
company_details

/tmp/ipykernel_228/2339340406.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.str)

array([['LoanID', 'StringID', 'Product', ..., 'Location', 'Region',
        'TotalPrice'],
       ['1', 'id_1', 'Product B', ..., 'Location 2', 'Region 2',
        '16600.0'],
       ['2', 'id_2', 'Product B', ..., 'Location 3', '', '16600.0'],
       ...,
       ['1041', 'id_1041', 'Product B', ..., 'Location 23', 'Region 4',
        '16600.0'],
       ['1042', 'id_1042', 'Product C', ..., 'Location 52', 'Region 6',
        '15600.0'],
       ['1043', 'id_1043', 'Product B', ..., 'Location 142', 'Region 6',
        '16600.0']], dtype='<U14')

In [11]:
np.save('Lending-Company-Saving-06-14', company_details)

In [21]:
npy_data = np.load('Lending-Company-Saving-06-14.npy')
print(npy_data)

[['LoanID' 'StringID' 'Product' ... 'Location' 'Region' 'TotalPrice']
 ['1' 'id_1' 'Product B' ... 'Location 2' 'Region 2' '16600.0']
 ['2' 'id_2' 'Product B' ... 'Location 3' '' '16600.0']
 ...
 ['1041' 'id_1041' 'Product B' ... 'Location 23' 'Region 4' '16600.0']
 ['1042' 'id_1042' 'Product C' ... 'Location 52' 'Region 6' '15600.0']
 ['1043' 'id_1043' 'Product B' ... 'Location 142' 'Region 6' '16600.0']]

In [13]:
np.array_equal(npy_data, company_details)

True

In [14]:
import pandas as pd
import numpy as np
FileName_06_14 = 'Lending-Company-Saving.csv'
company_details = np.genfromtxt(FileName_06_14,
             delimiter= ',',
             dtype=np.str)

npy_data = np.load('Lending-Company-Saving-06-14.npy')

/tmp/ipykernel_228/238805488.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.str)

In [26]:
np.savez('Company_Npz_Saving', company = company_details, npy = npy_data)
npz_data = np.load('Company_Npz_Saving.npz')
npz_data.files

['company', 'npy']

In [28]:
print(npz_data['npy'])

[['LoanID' 'StringID' 'Product' ... 'Location' 'Region' 'TotalPrice']
 ['1' 'id_1' 'Product B' ... 'Location 2' 'Region 2' '16600.0']
 ['2' 'id_2' 'Product B' ... 'Location 3' '' '16600.0']
 ...
 ['1041' 'id_1041' 'Product B' ... 'Location 23' 'Region 4' '16600.0']
 ['1042' 'id_1042' 'Product C' ... 'Location 52' 'Region 6' '15600.0']
 ['1043' 'id_1043' 'Product B' ... 'Location 142' 'Region 6' '16600.0']]

In [29]:
np.array_equal(npz_data['npy'], npz_data['company'])

True

In [30]:
import pandas as pd
import numpy as np
FileName_06_14 = 'Lending-Company-Saving.csv'
company_details = np.genfromtxt(FileName_06_14,
             delimiter= ',',
             dtype=np.str)
company_details

/tmp/ipykernel_228/2339340406.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.str)

array([['LoanID', 'StringID', 'Product', ..., 'Location', 'Region',
        'TotalPrice'],
       ['1', 'id_1', 'Product B', ..., 'Location 2', 'Region 2',
        '16600.0'],
       ['2', 'id_2', 'Product B', ..., 'Location 3', '', '16600.0'],
       ...,
       ['1041', 'id_1041', 'Product B', ..., 'Location 23', 'Region 4',
        '16600.0'],
       ['1042', 'id_1042', 'Product C', ..., 'Location 52', 'Region 6',
        '15600.0'],
       ['1043', 'id_1043', 'Product B', ..., 'Location 142', 'Region 6',
        '16600.0']], dtype='<U14')

In [32]:
np.savetxt('Lending-Company-Saving.txt', 
           company_details,
           fmt = '%s',
           delimiter= ','
          )

In [33]:
File_Name_Txt = 'Lending-Company-Saving.txt'
data_txt = np.genfromtxt(File_Name_Txt,
             delimiter= ',',
             dtype=np.str)
print(data_txt)

[['LoanID' 'StringID' 'Product' ... 'Location' 'Region' 'TotalPrice']
 ['1' 'id_1' 'Product B' ... 'Location 2' 'Region 2' '16600.0']
 ['2' 'id_2' 'Product B' ... 'Location 3' '' '16600.0']
 ...
 ['1041' 'id_1041' 'Product B' ... 'Location 23' 'Region 4' '16600.0']
 ['1042' 'id_1042' 'Product C' ... 'Location 52' 'Region 6' '15600.0']
 ['1043' 'id_1043' 'Product B' ... 'Location 142' 'Region 6' '16600.0']]

/tmp/ipykernel_228/3835610259.py:4: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.str)