In [4]:
#Create Data Frame 1st Approach

import pandas as pd
import numpy as np

df_1 = pd.DataFrame(data = [['Somshubhra Giri', 33000], ['Subhojit Patra', 35000], ['Subham Chakarborty', 37000]],
             columns = ['Employee Name', 'Salary'],
             index = ['A', 'B', 'C'])
df_1

        Employee Name  Salary
A     Somshubhra Giri   33000
B      Subhojit Patra   35000
C  Subham Chakarborty   37000

In [5]:
# Create DataFrame 2nd Approach

data = {'Employee Name': ['Somesh Deo', 'Arun Kumar', 'Sudhir Kumar'], 'Salary':[23000, 33000, 34000]}
df_2 = pd.DataFrame(data, index = ['A', 'B', 'C'])
df_2

  Employee Name  Salary
A    Somesh Deo   23000
B    Arun Kumar   33000
C  Sudhir Kumar   34000

In [7]:
# Create DataFrame 3rd Approach

data_1 = np.array([['Chandrima Upadhaya', 40000], ['Saprotiv Dey', 36000], ['Ajay Giri', 34000]])
column_1 = np.array(['Employee Name', 'Salary'])
index_1 = np.array(['A', 'B', 'C'])

df_3 = pd.DataFrame(data = data_1,
                   columns = column_1,
                   index = index_1)
df_3

        Employee Name Salary
A  Chandrima Upadhaya  40000
B        Saprotiv Dey  36000
C           Ajay Giri  34000

In [12]:
# Create DataFrame 4th Approach (Series)

em_name = pd.Series(['Somshubhra Giri', 'Sankhasubhra Giri', 'Debashruti Giri'], index = ['A', 'B', 'C'])
em_salary = pd.Series([120000, 50000, 200000], index = ['A', 'B', 'C'])
#print(em_salary)
em_data = {'Employee Name': em_name, 'Salary': em_salary}
df_4 = pd.DataFrame(em_data)
df_4

       Employee Name  Salary
A    Somshubhra Giri  120000
B  Sankhasubhra Giri   50000
C    Debashruti Giri  200000