In [4]:
product_Category = 'A'
print("This is the Product Category %s." % product_Category)

This is the Product Category A.

In [6]:
product_Category_arr = ['A', 'B']
print("This is the Product Category %s." % product_Category_arr[1])

This is the Product Category B.

In [7]:
product_Price_arr = [500, 670]
print("This is the Product Category %d." % product_Price_arr[1])

This is the Product Category 670.

In [10]:
product_Price_arr = [500.456, 670.234]
print("This is the Product Category %.2f." % product_Price_arr[1])

This is the Product Category 670.23.

In [14]:
print("I am somshubhra Giri, From Kolkata.\n\nI completed my B.tech from MCKV Institute of Engineering")

I am somshubhra Giri, From Kolkata.

I completed my B.tech from MCKV Institute of Engineering

In [16]:
print("I am somshubhra Giri, From Kolkata.\t\tI completed my B.tech from MCKV Institute of Engineering")

I am somshubhra Giri, From Kolkata.		I completed my B.tech from MCKV Institute of Engineering

In [20]:
print("I am somshubhra Giri \rI am Sankha")

I am Sankha

In [3]:
s = 'Price Per Unit'
print(s)

Price Per Unit

In [4]:
s1 = s.replace('Price', 'Cost')
s1

'Cost Per Unit'

In [8]:
s1.startswith('Cost')

True

In [9]:
s1.endswith('Unit')

True

In [10]:
s1.split(' ')

['Cost', 'Per', 'Unit']

In [11]:
len(s1.split(' '))

3

In [12]:
s1.split('Per')

['Cost ', ' Unit']

In [13]:
import pandas as pd

kpi_Data = pd.Series(['Employee Rating Review', 'Employee Total Hours'])
kpi_Data

0    Employee Rating Review
1      Employee Total Hours
dtype: object

In [15]:
kpi_Data[0].lstrip('Employee')

' Rating Review'

In [16]:
kpi_Data[1].lstrip('Employee')

' Total Hours'

In [17]:
pd.Series([kpi_Data[0].lstrip('Employee'), kpi_Data[1].lstrip('Employee')])

0     Rating Review
1       Total Hours
dtype: object

In [18]:
kpi_Data.str

In [19]:
kpi_Data.str[0]

0    E
1    E
dtype: object

In [20]:
kpi_Data.str.lstrip('Employee')

0     Rating Review
1       Total Hours
dtype: object

In [3]:
time_horizon = 1,3,17
time_horizon

(1, 3, 17)

In [4]:
products = ['Product A', 'Product B']
products

['Product A', 'Product B']

In [5]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2], products[1])rwR

'Expected sales for a period of 17 month(s) for Product B:'

In [6]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2], products[1])

'Expected sales for a period of Product B month(s) for 17:'

In [11]:
'Expected sales for a period of {t_hor[1]} month(s) for {prod[1]}:${sale}'.format(t_hor = time_horizon, prod = products, sale ='3456')

'Expected sales for a period of 3 month(s) for Product B:$3456'

In [12]:
d= range(10)
d

range(0, 10)

In [13]:
for i in range(2,11):
    print(i)

2
3
4
5
6
7
8
9
10

In [6]:
products = ['Product A', 'Product B']
time_horizon = (1,3,17)
prod_sales = [1300, 1600, 1700, 1500]

for prod in products:
    for sales in prod_sales:
        for t_hor in time_horizon:
            print('Expected sales for a period of {1} month(s) for {0}:${sale}'.format(prod, t_hor, sale = sales*t_hor))

Expected sales for a period of 1 month(s) for Product A:$1300
Expected sales for a period of 3 month(s) for Product A:$3900
Expected sales for a period of 17 month(s) for Product A:$22100
Expected sales for a period of 1 month(s) for Product A:$1600
Expected sales for a period of 3 month(s) for Product A:$4800
Expected sales for a period of 17 month(s) for Product A:$27200
Expected sales for a period of 1 month(s) for Product A:$1700
Expected sales for a period of 3 month(s) for Product A:$5100
Expected sales for a period of 17 month(s) for Product A:$28900
Expected sales for a period of 1 month(s) for Product A:$1500
Expected sales for a period of 3 month(s) for Product A:$4500
Expected sales for a period of 17 month(s) for Product A:$25500
Expected sales for a period of 1 month(s) for Product B:$1300
Expected sales for a period of 3 month(s) for Product B:$3900
Expected sales for a period of 17 month(s) for Product B:$22100
Expected sales for a period of 1 month(s) for Product B:$1600
Expected sales for a period of 3 month(s) for Product B:$4800
Expected sales for a period of 17 month(s) for Product B:$27200
Expected sales for a period of 1 month(s) for Product B:$1700
Expected sales for a period of 3 month(s) for Product B:$5100
Expected sales for a period of 17 month(s) for Product B:$28900
Expected sales for a period of 1 month(s) for Product B:$1500
Expected sales for a period of 3 month(s) for Product B:$4500
Expected sales for a period of 17 month(s) for Product B:$25500

In [3]:
x_list = [2,24,56,78,90,14,47]
x_list

[2, 24, 56, 78, 90, 14, 47]

In [4]:
for x in x_list:
    print(x, end = " ")

2 24 56 78 90 14 47

In [5]:
x_new_list = []

for x in x_list:
    x_new_list.append(x**2)
print(x_new_list)

[4, 576, 3136, 6084, 8100, 196, 2209]

In [8]:
x_new_list_1 = [n**2 for n in x_list] 
x_new_list_1

[4, 576, 3136, 6084, 8100, 196, 2209]

In [9]:
for i in range(2):
    for j in range(5):
        print(i+j, end = " ")

0 1 2 3 4 1 2 3 4 5

In [11]:
x_list_2 = [[i+j for i in range(2)] for j in range(5)]
x_list_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [14]:
x = list(range(1,13))
print(x)
print(type(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
<class 'list'>

In [26]:
x_list_3 = [ n**3 if n%2 != 0 else "Even" for n in range(1,11)]
x_list_3

[1, 'Even', 27, 'Even', 125, 'Even', 343, 'Even', 729, 'Even']

In [27]:
def num_pow(x):
    return x**3
print(num_pow(3))

27

In [29]:
num_pow_lamda = lambda x: x**3
print(num_pow_lamda(3))

27

In [30]:
(lambda x : x/2)(11)

5.5

In [31]:
sum_xy = lambda x, y : x+y
print(sum_xy(2,3))

5

In [32]:
product_sum_xy = lambda x, y : x + y(x)
print(product_sum_xy(3,4))

TypeError: 'int' object is not callable

In [33]:
product_sum_xy = lambda x, y : x + y(x)
print(product_sum_xy(3, lambda z : z**2))

12