In [3]:
a = ['A', 'B']
print(a)

['A', 'B']

In [4]:
import pandas as pd
df = pd.DataFrame(data = [['Project 1', 2400], ['Project 2', 3700], ['Project 3', 5800]],
                 columns = ['Project Name', 'Price'],
                 index = ['A', 'B', 'C'])
print(df)

  Project Name  Price
A    Project 1   2400
B    Project 2   3700
C    Project 3   5800

In [5]:
print(df.index)

Index(['A', 'B', 'C'], dtype='object')

In [6]:
import numpy as np
project_data = np.array([['Project 1','$1297'], ['Project 2', '$4790'], ['Project 3', '$3689']])
project_col = np.array(['Project Name', 'Project Estimate Cost'])
project_idx = np.array(['A', 'B', 'C'])
project_df = pd.DataFrame(data = project_data,
                         columns = project_col,
                         index = project_idx)
print(project_df)

  Project Name Project Estimate Cost
A    Project 1                 $1297
B    Project 2                 $4790
C    Project 3                 $3689

In [7]:
project_dict = [{'Project_Name': 'Project 1', 'Project_Estimate_Cost': '$3456'},
               {'Project_Name': 'Project 2', 'Project_Estimate_Cost': '$7835'},
               {'Project_Name': 'Project 3', 'Project_Estimate_Cost': '$35690'}]
df_proj = pd.DataFrame(data = project_dict, index = ['A', 'B', 'C'])
print(df_proj)

  Project_Name Project_Estimate_Cost
A    Project 1                 $3456
B    Project 2                 $7835
C    Project 3                $35690

In [8]:
p_name_ser = pd.Series(['Project 1', 'Project 2', 'Project 3'], index = ['1', '2', '3'])
p_estimate_ser = pd.Series(['$28902', '$78935', '$56724'], index = ['1', '2', '3'])
p_data = {'Project_Name': p_name_ser , 'Project_Estimate_Cost': p_estimate_ser}
p_df = pd.DataFrame(p_data)
print(p_df)

  Project_Name Project_Estimate_Cost
1    Project 1                $28902
2    Project 2                $78935
3    Project 3                $56724

In [9]:
pwd

'/home/user'

In [10]:
fileName = 'Text_Practice.txt'
file = open('fileName')

FileNotFoundError: [Errno 2] No such file or directory: 'fileName'

In [11]:
pwd

'/home/user'

In [12]:
import numpy as np
import pandas as pd
salary_arr = np.array([2300, 4900, 3690, 2768, 8200])
salary_ser = pd.Series(salary_arr)
salary_ser

0    2300
1    4900
2    3690
3    2768
4    8200
dtype: int64

In [13]:
print("Max Salary: " + str(salary_ser.max()))
print("Max Salary Index: " + str(salary_ser.idxmax()))
print("Min Salary: " + str(salary_ser.min()))
print("Min Salary Index: " + str(salary_ser.idxmin()))

Max Salary: 8200
Max Salary Index: 4
Min Salary: 2300
Min Salary Index: 0