In [3]:
import pandas as pd
import numpy as np

x_Series = pd.Series({'Project A': 23567, 'Project B': 45673, 'Project C': 4789208})
x_Series

Project A      23567
Project B      45673
Project C    4789208
dtype: int64

In [4]:
type(x_Series)

pandas.core.series.Series

In [6]:
x_Series.array

<NumpyExtensionArray>
[23567, 45673, 4789208]
Length: 3, dtype: int64

In [7]:
type(x_Series.array)

pandas.core.arrays.numpy_.NumpyExtensionArray

In [8]:
x_Series.to_numpy

<bound method IndexOpsMixin.to_numpy of Project A      23567
Project B      45673
Project C    4789208
dtype: int64>

In [10]:
type(x_Series.to_numpy())

numpy.ndarray

In [21]:
x_new_series = x_Series[['Project A', 'Project B']].to_numpy(dtype = float)
x_new_series

array([23567., 45673.])

In [24]:
x_Series.sort_values(ascending = False
                    )

Project C    4789208
Project B      45673
Project A      23567
dtype: int64

In [25]:
x_Series.values

array([  23567,   45673, 4789208])

In [15]:
import pandas as pd
import numpy as np

data = pd.read_csv('Glid_Check.csv', usecols= ['Item Number'])
data_glid = data.squeeze('columns')
data_glid.head()

0    62003980 DL7 WHT
1            62550266
2            62711521
3            62711521
4            62711521
Name: Item Number, dtype: object

In [14]:
type(data_glid)

pandas.core.frame.DataFrame

In [6]:
data_glid.describe()

,Item Number,Glid,batch_builder_type,Submitted Date,Glid Type
count,97,97,97,97,97
unique,28,57,2,43,2
top,62754732,CB408938,IPPS,6/29/2021 11:51,Additional Glid
freq,18,2,51,9,52

In [16]:
data_glid.count()

97

In [26]:
data_glid.unique()

array(['62003980 DL7 WHT', '62550266', '62711521', '62754251 WHT',
       '62754732', '62754733', '62754736', '62754743', '62754755',
       '62754758', '62754771', '62754782', '62755280', '62758767 WHT',
       '62758935', '62759440', '62760474', '62762051', '62763869',
       '62763872', '62765063 CN WHT', '62765063 CN WHT_RS',
       '62767254 WHT', '62773607 WHT', '62782476 WHT', '62782477',
       '62782511 WHT ONE ASIA', '62782512'], dtype=object)

In [22]:
data_glid.nunique()

28

In [29]:
data_glid.sort_values(ascending=False)

96                 62782512
95                 62782512
94    62782511 WHT ONE ASIA
93    62782511 WHT ONE ASIA
92                 62782477
              ...
5                  62711521
4                  62711521
3                  62711521
1                  62550266
0          62003980 DL7 WHT
Name: Item Number, Length: 97, dtype: object

In [31]:
data_glid.sort_index()

0          62003980 DL7 WHT
1                  62550266
2                  62711521
3                  62711521
4                  62711521
              ...
92                 62782477
93    62782511 WHT ONE ASIA
94    62782511 WHT ONE ASIA
95                 62782512
96                 62782512
Name: Item Number, Length: 97, dtype: object

In [35]:
data_glid.head().sort_index(ascending= True)

0    62003980 DL7 WHT
1            62550266
2            62711521
3            62711521
4            62711521
Name: Item Number, dtype: object

In [36]:
data_glid.index

RangeIndex(start=0, stop=97, step=1)

In [3]:
data_glid.index.name

NameError: name 'data_glid' is not defined